*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 
body{

    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    color:brown;
    font-size: 50px;
    border-radius: 25px 25px;
    background-color: beige;
    left:40%;
    top:52%;
   
    /* top:50%;
    left:50%; */
}

h3{
    color:brown;
    margin-left: 43%;
    margin-top: 10%;
   

}

li{
    background-color: rgb(83, 79, 79);
    border: 1px solid ;
    border-radius: 5px;
    padding: 20px 20px;
    color: black ;
    outline: none;
    margin: 10px;
    margin-right: 20%;
    margin-left: 20%;
}

li :hover{
  background-color: transparent green;
}

.info-title{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 5%;
  margin-left: 40%;
 
}

.info{
  font-family:fantasy;
}

.info-box{
  
    margin-left: 40px;
    margin-top: 220px;

}

form{
  display: none;


}

#submit{
  background-color: antiquewhite;
  color: black;
  box-sizing: border-box;
  margin: 1%;
  font-size: 40px;
}

#name{
  font-size: 40px;
}